@media screen and (min-width:0px) and (max-width:576px){
    .main_block{
        width: 100%;
        height: 720px;
        /*background: silver;*/
        padding: 15px;
    }
    .block_a{
        width: 100%;
        height: 15%;
        /*background: coral;*/
    }
    .mini_block{
        width: 100%;
        height: 85%;
        /*background: green;*/
        /*margin-top: 15px;*/
        padding-top: 10px;
        box-sizing: border-box;
    }
    .block_b{
        width: 100%;
        height: 50%;
        /*background: olive;*/
    }
    .block_cDe{
        width: 100%;
        height: 20%;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        /*column-gap: 15px;*/
    }
    .block_f{
        width: 100%;
        height: 20%;
        /*margin-top: 20px;*/
        margin-left: 0;
    }
    .block{
        width: 20%;
        height: 80%;
        border-radius: 40px;
    }
    .block_a, .block_b,.block_f{
        background: silver;
        border-radius: 20px;
    }
}